.links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.modalHeading {
  display: flex;
  gap: 10px;
  align-items: center;
}
