.container {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  background-color: #333;
  height: 300px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: bold;
}
